.section_header {
  height: 900px;
  background-color: #a681a0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
}

.nav_wrapper {
  margin-top: 0px;
  padding-top: 50px;
}

.container {
  width: 100%;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  font-family: Circularspotifytext, sans-serif;
  font-weight: 400;
}

.cta {
  padding: 13px 42px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
}

.header_content {
  width: 100%;
  max-width: 1100px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.main_heading {
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 160px;
  padding-left: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 35px;
}

.sub_head {
  line-height: 30px;
  letter-spacing: 0.5px;
}

.sub_head.margins {
  margin-right: -130px;
  margin-left: -130px;
  font-family: 'Circularspotifytext book', sans-serif;
  font-weight: 400;
  text-align: center;
}

.email-form-top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 72px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
}

.text-field {
  height: 100%;
  margin-bottom: 0px;
  padding: 5px 150px 0px 25px;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 300;
}

.submit-button {
  position: absolute;
  left: auto;
  top: 3.5px;
  right: 3.18px;
  bottom: 3.91px;
  width: 141.75px;
  height: 65.09px;
  padding: 10px 38px 8px;
  border-radius: 19px;
  background-color: #4a4e69;
  font-family: 'Circularspotifytext book', sans-serif;
  font-size: 20px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
}

.banner_img {
  margin-top: 80px;
}

.section_middle {
  height: auto;
  margin-top: 600px;
  padding-bottom: 0px;
  color: #000;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 45px;
}

.div-block-3.rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3._2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 15px;
}

.div-block-3.m {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sec_heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 52px;
}

.sec_heading.white {
  color: #fff;
}

.p_txt {
  margin-bottom: 0px;
  font-family: 'Circularspotifytext book', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.p_txt.width {
  overflow: visible;
  width: 100%;
  max-width: 490px;
  line-height: 25px;
  -o-object-fit: fill;
  object-fit: fill;
}

.p_txt.width.white {
  color: #fff;
}

.button {
  padding: 14px 47px;
  border-style: none;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
  background-color: #4a4e69;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
}

.button._2 {
  padding-right: 47px;
  padding-left: 47px;
  border-style: none;
  background-color: #4a4e69;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 25px;
}

.div-block-4._2 {
  width: 41%;
  grid-row-gap: 40px;
}

.div-block-4.email {
  width: 37%;
  grid-row-gap: 40px;
}

.icon {
  width: 75px;
  max-width: 75px;
}

.div-block-5 {
  display: -ms-grid;
  display: grid;
  width: 50%;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 65px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.h3_heading {
  font-family: Circularspotifytext, sans-serif;
}

.pink_wrapper {
  margin-top: 150px;
  padding-top: 111px;
  padding-bottom: 140px;
  background-color: #ecdfe9;
}

.app_imagess {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 602px;
}

.image100 {
  width: 100%;
}

.image100.shw {
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  border-radius: 40px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 100px;
}

.section_email {
  padding-top: 140px;
}

.email_wrapper {
  padding: 95px 40px 90px 80px;
  border-radius: 28px;
  background-color: #4a4e69;
}

.form-block {
  width: 100%;
  max-width: 620px;
  background-color: transparent;
}

.form-block.bottom {
  width: 100%;
  max-width: 427px;
}

.a_img {
  position: absolute;
  top: -140px;
  width: 100%;
  max-width: 247px;
  border-radius: 28px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.16);
}

.a_img.sh {
  position: static;
}

.a_img._2 {
  position: relative;
  left: 32%;
  top: -55px;
  right: auto;
  bottom: auto;
  width: 100%;
  max-width: 271px;
  margin-left: 0px;
}

.a_img._3 {
  left: auto;
  top: auto;
  right: 2%;
  bottom: -33%;
  width: 100%;
  max-width: 252px;
}

.section_footer {
  margin-top: 140px;
  margin-bottom: 0px;
  padding-top: 65px;
  padding-bottom: 80px;
  background-color: #4a4e69;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 50px;
}

.f_link {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Circularspotifytext book', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  grid-column-gap: 55px;
}

.copyright {
  margin-bottom: 0px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Circularspotifytext book', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
}

.app_image_tab {
  display: none;
}

.mob_logo {
  display: none;
}

.success-message {
  background-color: #4a4e69;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1350px;
  }

  .div-block-2 {
    padding-right: 160px;
    padding-left: 160px;
  }

  .div-block-3.rev {
    grid-column-gap: 45px;
  }

  .app_imagess {
    max-width: 670px;
  }

  .div-block-6 {
    grid-row-gap: 100px;
  }
}

@media screen and (max-width: 991px) {
  .section_header {
    height: 1040px;
  }

  .container {
    max-width: 670px;
  }

  .div-block-2 {
    padding-right: 100px;
    padding-left: 100px;
  }

  .sub_head.margins {
    margin-right: -51px;
    margin-left: -51px;
    line-height: 33px;
  }

  .section_middle {
    margin-top: 430px;
  }

  .div-block-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 70px;
  }

  .div-block-3.rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-3._2 {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-block-3.m {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .sec_heading.white {
    line-height: 49px;
  }

  .p_txt.width.white {
    max-width: 265px;
  }

  .div-block-4 {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-4._2 {
    width: 100%;
    grid-row-gap: 44px;
  }

  .div-block-4.email {
    width: 49%;
    grid-row-gap: 25px;
  }

  .icon {
    width: 50px;
    max-width: 50px;
  }

  .div-block-5 {
    width: 100%;
    grid-column-gap: 190px;
  }

  .pink_wrapper {
    padding-top: 100px;
    padding-bottom: 110px;
  }

  .app_imagess {
    display: block;
  }

  .app_imagess.mb {
    display: none;
  }

  .email_wrapper {
    padding: 20px 26px 10px 22px;
  }

  .form-block {
    width: 145%;
    max-width: 145%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .form-block.bottom {
    width: 140%;
    max-width: 130%;
    margin-top: 30px;
    margin-right: 0px;
  }

  .section_footer {
    padding-top: 70px;
    padding-bottom: 140px;
  }

  .app_image_tab {
    position: absolute;
    left: auto;
    top: -15%;
    right: -5%;
    bottom: auto;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .section_header {
    height: 866px;
  }

  .nav_wrapper {
    padding-top: 35px;
  }

  .container {
    max-width: 500px;
  }

  .header_content {
    margin-top: 60px;
  }

  .main_heading {
    font-size: 40px;
    line-height: 59px;
  }

  .div-block-2 {
    padding-right: 90px;
    padding-left: 90px;
  }

  .sub_head.margins {
    font-size: 16px;
    line-height: 27px;
  }

  .text-field {
    padding-left: 13px;
  }

  .banner_img {
    margin-top: 36px;
  }

  .section_middle {
    margin-top: 220px;
  }

  .sec_heading {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .p_txt {
    text-align: center;
  }

  .p_txt.width {
    text-align: center;
  }

  .p_txt.width.white {
    max-width: 295px;
  }

  .div-block-4 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-4._2 {
    grid-row-gap: 30px;
  }

  .div-block-4.email {
    width: 100%;
    grid-row-gap: 25px;
  }

  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 50px;
  }

  .pink_wrapper {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .div-block-6 {
    grid-row-gap: 75px;
  }

  .section_email {
    padding-top: 50px;
  }

  .form-block.bottom {
    width: 100%;
    max-width: 100%;
    margin-top: 320px;
  }

  .section_footer {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .div-block-7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 25px;
  }

  .div-block-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 20px;
  }

  .copyright {
    margin-top: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }

  .div-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 60px;
    padding-left: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .app_image_tab {
    left: 22%;
    top: auto;
    right: 0%;
    bottom: 15%;
    width: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .section_header {
    height: 745px;
    max-height: 745px;
    min-height: 745px;
    padding-bottom: 0px;
  }

  .container {
    max-width: 85%;
  }

  .cta {
    padding: 6px 19px 5px 18px;
    font-size: 15px;
  }

  .main_heading {
    margin-top: 10px;
    line-height: 56px;
  }

  .div-block-2 {
    padding: 10px;
    grid-row-gap: 30px;
  }

  .sub_head.margins {
    margin-right: 0px;
    margin-left: 0px;
    line-height: 25px;
  }

  .email-form-top {
    height: 60px;
    font-size: 14px;
  }

  .text-field {
    padding-right: 150px;
    padding-left: 12px;
    border-radius: 22px;
    font-size: 14px;
  }

  .submit-button {
    top: 2.6px;
    right: 2.9px;
    height: 55px;
    padding-right: 29px;
    padding-left: 29px;
    font-size: 15px;
  }

  .banner_img {
    margin-top: 20px;
  }

  .section_middle {
    margin-top: 194px;
  }

  .div-block-3.rev {
    grid-row-gap: 50px;
  }

  .div-block-3.m {
    grid-row-gap: 50px;
  }

  .sec_heading.white {
    font-size: 24px;
  }

  .p_txt.width {
    line-height: 23px;
  }

  .p_txt.width.white {
    line-height: 23px;
  }

  .p_txt.wid {
    padding-right: 37px;
    padding-left: 37px;
    line-height: 23px;
  }

  .pink_wrapper {
    padding-top: 40px;
  }

  .image100.shw {
    border-style: none;
    border-radius: 0px;
  }

  .email_wrapper {
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .form-block {
    width: 100%;
    max-width: 100%;
  }

  .form-block.bottom {
    margin-top: 270px;
  }

  .f_logo {
    width: 100%;
    max-width: 145px;
  }

  .div-block-9 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .app_image_tab {
    position: absolute;
    left: 13%;
    width: 115%;
    max-width: 295px;
  }

  .mob_logo {
    display: block;
  }

  .desk_logo {
    display: none;
  }
}

@font-face {
  font-family: 'Circularspotifytext';
  src: url('../fonts/CircularSpotifyText-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circularspotifytext';
  src: url('../fonts/CircularSpotifyText-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circularspotifytext';
  src: url('../fonts/CircularSpotifyText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circularspotifytext';
  src: url('../fonts/CircularSpotifyText-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circularspotifytext book';
  src: url('../fonts/CircularSpotifyText-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circularspotifytext';
  src: url('../fonts/CircularSpotifyText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circularspotifytext';
  src: url('../fonts/CircularSpotifyText-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circularspotifytext';
  src: url('../fonts/CircularSpotifyText-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}